{% extends "base.html" %}
{% block content %}
<div class="card-columns">

  {%for game in games%}

  <div class="col mb-4">
    <div class="card h-100">
      <img src="{{game.image}}" class="card-img-top" onerror="this.onerror=null; this.src='{{game.rawg.image}}'"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">{{game.title}}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>

        <!-- Button  -->
        <a class="btn btn-primary" href="{{ url_for('games.info', game_id=game._id) }}" role="button">More Info</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Download
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Game Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Repack Size: {{game.repack_size}} GB</p>
                <p>Original Size: {{game.original_size}} GB</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="{{ url_for('games.download', game_id=game._id) }}"
                  role="button">Download</a>
              </div>
            </div>
          </div>
        </div>


        {%  if game.rawg.release_date %}
        <p class="card-text"><small class="text-muted">Released: {{game.rawg.release_date.strftime('%Y-%m-%d')}}</small>
        </p>
        {% endif %}
      </div>
    </div>
  </div>


  {% endfor %}
</div>

{% endblock %}